<h1>Welcome to my blog</h1>
<h3>Here is the trending blog posts:</h3>

<!-- <div id="trending_posts">
  <%# @posts.each do |p| %>
    <%#= link_to p.title, title_path(p) %>
    <hr>
  <%# end %>
</div> -->
