body{
  background-image: url('bg.jpg');
  background-size: 100vw;
}

#contents{
  /*border: solid 0.2em black;*/
  width: 47.7%;
  margin-left: auto;
  margin-right: auto;

  background-color: rgba(193, 190, 170, 0.5);
}

/*nav{
  text-align: center;
}*/

h1{
  color: red;
  text-align: center;
}

h3{

}
